//JAZMIN
@font-face {
    font-family: 'Jazmin-Thin';
    src: url('../../../public/assets/fonts/Jazmin/Jazmin\ Thin.otf') format('opentype');
  }
@font-face {
    font-family: 'Jazmin-ExtraLight';
    src: url('../../../public/assets/fonts/Jazmin/Jazmin\ ExtraLight.otf') format('opentype');
  }
@font-face {
    font-family: 'Jazmin-Semibold';
    src: url('../../../public/assets/fonts/Jazmin/Jazmin\ SemiBold.otf') format('opentype');
  }
@font-face {
    font-family: 'Jazmin-Bold';
    src: url('../../../public/assets/fonts/Jazmin/Jazmin\ Bold.otf') format('opentype');
  }

//AKTIV-GROTESK

@font-face {
    font-family: 'AktivGrotesk';
    src: url('../../../public/assets/fonts/AktivGrotesk/AktivGrotesk-Light.otf') format('opentype');
  }
